header#main-header{
    height: 100%;
    height: 60px;
    background-image: linear-gradient( 110.3deg,  rgba(255,154,59,1) 3%, rgba(255,197,59,1) 97.7% );
    font-size: 25px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    height: 5px;
    width: 5px;
}