@import url('https://fonts.googleapis.com/css?family=Armata');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Armata, Helvetica, sans-serif;
    background: #000000;
    color: #333;
}